@use '../../styles/variables.scss';

.card {
    border: 1px solid variables.$secondary-color;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;


    .card-cover {
        width:100%;
        height: 100%;
        border-radius: 15px;
        object-fit: fill;
    }

    .card-title {
        position: absolute;
        border-radius:0 0 15px 15px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.824);
        width: 100%;
    }
    
}

