@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


$bg-color: #2a1e17;
$primary-color: #00fff7;
$secondary-color: #F7A600;
$other-color: #36271E;
$body-color: #F5F5F5;

$title-font: 'Orbitron', sans-serif;
$body-font: 'Roboto', sans-serif;