@use '../../styles/variables.scss';

.home_info{
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    


    .home_info--text{
        width: 50%;
        text-align: left;
    }
    .home_info--currentGame{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 700px);
        grid-template-rows: repeat(1,500px);
        justify-content: right;
    }
}


.home_container{
    margin: 2rem auto;
    width: 100%;

    .game-vote {
        margin: 2rem auto;
        display: grid;
        grid-template-columns: repeat(4, 400px) ;
        grid-template-rows: repeat(1, 400px);
        justify-content: space-evenly;
        
        @media (min-width: 1024px){
            width:100%;
        }

        .card-vote{
            width: 100%;
            margin: 0 auto;
    
            @media (min-width: 1024px){
                width: 100%
            }
            @media (min-width: 1280px){
                width: 100%;
            }
        }
    }

}