@use '../../styles/variables.scss';

.game-listBoss{
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style-type: none;
        text-align: left;

        .boss-name{
            padding-top: .5rem;
        }
    }
}