@use '../../styles/variables.scss';

.game-listBoss{
    width: 100%;
    text-align: center;

    @media(min-width:1024px){
        margin-top: 5rem;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       

    }


    ul {
        list-style-type: none;

        .boss-name{
            padding: 1rem;
            border-bottom: 1px solid variables.$secondary-color;
        }
    }
}